body 
{
	color: beige; 
	background-color: grey;
	margin-left: 100px;
	margin-right: 100px;
	font-family: "Source Sans Pro", sans-serif;
}
header, footer
{
	text-align: center;
	font-weight: bold;
}
h1, h2
{
	text-align: center;
	font-family: "Inter", sans-serif;
}
a
{
	text-decoration: none;
	color: green;
}
submit,reset
{
	background-color: darkblue;
	color: green;
	resize: 125%;
}
reset
{
	text-align:right;
}
